
.form{
  width: 290px;
  height: 280px;
  border-radius: 20px;
  margin-left: 245px;
  background: #141414;
  border: 3px solid blue;
  box-shadow: 0px 5px 10px 0px rgba(7, 220, 220),
  1px 3px 4px 0px rgba(7, 220, 220);
}
.form:hover{
  border: 3px solid green;
  transition: 0.5s ease-in-out;
}
.form h3{
  margin: 80px auto;
  width: 170px;
  padding-top: 30px;
  height: 120px;
  border-radius: 20px;
  border-bottom: 2px solid green;
  border-top: 2px solid green;
  cursor: pointer;
  text-align: center;
  color: white;
  background: none;
  outline:rgb(53, 53, 163) ;
}